In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
import statsmodels.formula.api as smf

In [72]:
ent=pd.read_csv('entries.csv')
siteRating=pd.read_csv('tempSiteRatings.csv')

In [73]:
siteRating.head()

   id  rateCount  rating
0   1         24    5.00
1   3         25    5.00
2   4         25    3.60
3   5         25    2.84
4   6         25    3.52

In [74]:
ent.head()

   id  personId  siteId  rating
0   1         1       1       6
1   2         1       2       5
2   3         1       3       4
3   4         1       4       3
4   5         1       5       3

In [75]:
users=set(ent.personId.values)

In [76]:
user=172
def getUserRatings(user):
    userRatings=ent[ent.personId==user]
    siteRatings=siteRating[siteRating.id.isin(userRatings.siteId)]
    return userRatings.rating.values,siteRatings.rating.values

In [77]:
user,site=getUserRatings(user)

In [78]:
user

array([4, 5, 5, 3, 2, 5, 3, 3, 6, 7, 7, 4, 2, 2, 1, 3, 5, 4, 6, 6])

In [79]:
site

array([4.86956522, 4.86363636, 4.73913043, 3.91304348, 2.69565217,
       4.60869565, 4.56521739, 4.86956522, 6.39130435, 5.86956522,
       3.66666667, 3.33333333, 3.41666667, 3.95833333, 5.375     ,
       4.5       , 4.95833333, 5.70833333])

In [82]:
from statsmodels.stats.weightstats import ttest_ind
ttest_ind(user,site)

(-0.9070097448800626, 0.3704330794843457, 36.0)